#header-lhs {
    display:flex;
    flex-direction: column;
    gap:0;
}

#header{
    width: calc(100% - 160px);

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    border-radius: 0px 0px 40px 40px;
    border-bottom: 1px solid #D5D9FE;

    background: linear-gradient(90deg, rgba(0, 76, 255, 0.05) 0%, rgba(140, 42, 178, 0.05) 100%);
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    background-color: #F9F9FA;
}

h1{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    margin:0;

    margin-bottom:8px;



}
#main-content{
    height:100vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    width:100%;
    
}



p{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height:100%;
    margin:0;
}

#patient-number{
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#header-lhs-subtext{
    display:flex;
    flex-direction: row;
    align-items:center;
    gap:24px;
}
.info{
   
    font-size: 29px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;

}

.info-title{
   
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    

}

.info-section{
    display: flex;
    flex-direction:column;
    align-items:center;
    gap:4px;
}

.subtext{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#header-rhs{
    display:flex;
    flex-direction:row;
    gap:69px;
    align-items: center;
}

.icon{
    width:24px;
}

.button{
    padding:8px;
    background-color:#FFFFFF;
    height:fit-content;
    border-radius: 100%;
    border: 1px solid #D5D9FE;

}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    width:100%;
    margin:24px;


}

#tabs{
    display: flex;
    padding-right: 40px;
    align-items: flex-start;
    gap: 6px;
    margin-left:24px;
    align-self: stretch;
}

.tab{
    display: flex;
    padding: 8px 40px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #D5D9FE;
    background: #EBEBEB;
    
}

#selected{
    border-radius: 8px 8px 0px 0px;
    border-top: 1px solid #D5D9FE;
    border-right: 1px solid #D5D9FE;
    border-left: 1px solid #D5D9FE;
    border-bottom: 1px solid #F9F9FA;

    background: #F9F9FA;
    z-index: 20;
}
#content {
    display: flex;
    padding: 33px 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 0px 40px 40px 40px;
    border: 1px solid #D5D9FE;
    height: 100%;
    margin: -1px 24px;
}

.tile{
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 40px;
    border: 1px solid #D5D9FE;
    
    background: #FFF;
}

#graph-section{
    width: calc(60% - 48px - 80px);
    gap: 40px;
    align-self: stretch;
    position:relative;

}
.graph{
    position: absolute;
    border-radius: 40px;
    padding:40px;
    top: 0;
    left: 0;
    width: calc(100%  - 80px);
    height: calc(100% - 80px);
    background-color: #FFF;
    z-index:0;
}
#insights-section{
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}


.title{
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


#insights-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

#insight{
    display: flex;
    padding: 16px 0px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-top: 1px solid #D5D9FE;
    border-bottom: 1px solid #D5D9FE;
    margin:-0.5px 0px;
}

p2{

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#insight-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    gap:4px;
}

h2{
    margin:0;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 9999; /* Ensure the modal appears on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    width:40%;
    height:60%;

    display: flex;
    flex-direction: column;
    
}

form{
    display:flex;
    flex-direction:column;
    gap: 24px;

    align-self: stretch;
    margin-top: 40px;
}

#uploads{
    display:flex;
    flex-direction:column;
    gap: 24px;
}

.upload{
    display:flex;
    flex-direction:column;
    gap:8px;
    width:100%;
    justify-content: space-between;
}

form p{
    font-weight:600;
    
}

form{
    display:flex;
    justify-content:space-between;
    height:100%;

}

input[type="file"]::file-selector-button {
    background-color: #f3f4ff;
    border: 1px solid #D5D9FE;
}

input[type="file"]{
    font-size:16px;
    
}

button{
    width:fit-content;
    font-size:20px;
    padding:8px;
    color:#000;
    background-color: #D5D9FE;
    border: 1px solid #b5bcff;
    border-radius:4px;

}

#button-container{
    width:100%;
    display:flex;
    justify-content: center;
    margin-top: auto;
}

#overview-graph{
    display:block;
}

#sleep-graph{
    display:none;
}

#activity-graph{
    display:none;
}